body,
html {
  height: auto !important;
  &.no-scroll {
    overflow-y: hidden !important;
    height: 100% !important;
  }
  &.no-scroll-initial{
    overflow: hidden !important;
    height: auto !important;
  }
}

body {
  overflow-x: hidden;
  max-width: 100%;
}

.is-mobile{
  display: block;

  @include respond-to(md){
    display: none;
  }
}


