#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include size(100%, 100vh);
  background-color: rgba($textColor, 0.22);
  display: none;
  z-index: 99;
}

.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  @include size(90vw, 80vh);
  background-color: rgba(0, 0, 0, 1);
  @include transition-custom();
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  @include transform-scale(0.8, 0.8);
  transition-delay: 0.2s;
  padding: 50px;

  &.is-active {
    opacity: 1;
    visibility: visible;
    z-index: 1001;
    @include transform-scale(1, 1);
  }

  @include respond-to(md){
    @include size(50vw, 60vh);
  }
}

.modal__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  border: none !important;
  background-color: transparent;
  border-radius: 0 !important;
  @include transition-03;
  @include display-flex;
  @include ai-flex-center;
  @include jc-flex-center;

  img {
    width: 100%;
  }

  @include on-event {
    -webkit-transform: translate(-1px, -1px) scale(0.96, 0.96) perspective(1px) translateZ(0);
    transform: translate(1px, -1px) scale(0.96, 0.96) perspective(1px) translateZ(0);
  }

  @include respond-to(md) {

  }
}
